body {
  background-color: white;
  text-align: center;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
header {
  background-color: black;
  padding: 3px;
  color: white;
  font-size: 135%;
}
.name {
  font-size: 125%;
}
.inputAround {
  padding: 3px;
}
label {
  font-size: 115%;
}
input {
  border: 2px solid black;
  width: 35%;
}
.result {
  font-size: 120%;
}
#goodResult {
  color: green;
}
#badResult {
  color: red;
}
h4 {
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}
