body {
  background-color: white;
  text-align: center;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
header {
background-color: black;
color: white;
font-size: 135%;
padding: 3px;
}
.name {
  margin-top: 15px;
  font-size: 130%;
  color: black;
}
.text {
  padding: 5px;
  font-size: 120%;
}
button {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
}
.copyright {
  font-size: 70%;
}
footer {
  background-color: black;
  color: white;
  padding-bottom: 15px;
  padding-top: 15px;
}
article a{
  text-decoration: none;
}
