body {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
  text-align: center;
}
header {
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 120%;
}
.margin {
  margin-top: 15px;
  margin-bottom: 15px;
}
.text {
  padding: 5px;
}
footer {
  background-color: black;
  color: white;
}
